:root {
  font-size: 10px;
  font-family: 'Raleway', sans-serif;

  --couleur-ecriture: #000;

  --couleur-fond: #FAFAFA;

  --couleur-bouton-menu-clair: #ffc4b1;
  --couleur-bouton-menu-fonce: #f9612f;
  --couleur-bouton-clair: #FFFFFF;
  --couleur-bouton-fonce: #dedede;

  --fond-bouton-menu: linear-gradient(135deg, var(--couleur-bouton-menu-clair), var(--couleur-bouton-menu-fonce));
  --fond-bouton-menu-hover: linear-gradient(135deg, var(--couleur-bouton-menu-fonce), var(--couleur-bouton-menu-clair));
  --fond-bouton: linear-gradient(135deg, var(--couleur-bouton-clair), var(--couleur-bouton-fonce));
  --fond-bouton-hover: linear-gradient(335deg, var(--couleur-bouton-clair), var(--couleur-bouton-fonce));
  --ombre-bouton: -8px -8px 20px -8px #f1f1f1, 8px 8px 20px -8px #b9b9b9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --couleur-ecriture: #E6E6E6;

    --couleur-fond: #212121;

    --couleur-bouton-menu-clair: #ff693a;
    --couleur-bouton-menu-fonce: #731d01;
    --couleur-bouton-clair: #2f2f2f;
    --couleur-bouton-fonce: #1d1d1d;

    --fond-bouton-menu: linear-gradient(135deg, var(--couleur-bouton-menu-clair), var(--couleur-bouton-menu-fonce));
    --fond-bouton-menu-hover: linear-gradient(135deg, var(--couleur-bouton-menu-fonce), var(--couleur-bouton-menu-clair));
    --fond-bouton: linear-gradient(135deg, var(--couleur-bouton-clair), var(--couleur-bouton-fonce));
    --fond-bouton-hover: linear-gradient(335deg, var(--couleur-bouton-clair), var(--couleur-bouton-fonce));
    --ombre-bouton: -8px -8px 20px -8px #4c4c4c, 8px 8px 20px -8px #0f0f0f;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  background-color: var(--couleur-fond);
}

div.bandeau {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: 700;
}

div.bandeau > a {
  color: var(--couleur-ecriture);
  text-decoration: none;
  padding: 1.3rem 2rem;
  border-radius: 1rem;
  background: var(--fond-bouton-menu);
  box-shadow:var(--ombre-bouton);
}

div.bandeau > a:hover,
div.bandeau > a:focus {
  background: var(--fond-bouton-menu-hover);
}

section {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  grid-row: 2;
  grid-column: 1;
  background-color: var(--couleur-fond);
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: flex-start;
  padding: 1rem;
}

section:not(:target) {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

section:first-of-type,
section:target {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

section > a {
  padding: 3rem 5rem;
  color: var(--couleur-ecriture);
  text-decoration: none;
  background: var(--fond-bouton);
  border-radius: 2rem;
  box-shadow:var(--ombre-bouton);
  height: max-content;
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem;
  flex: 1 1 auto;
  text-align: center;
}

section > a:hover {
  background: var(--fond-bouton-hover);
}